@model Employee
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">
        <small>Employee details @Model.Id </small>
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-4">
            <h3 class="my-3">First Name: @Model.FirstName</h3>
            <h3 class="my-3">Last Name: @Model.LastName</h3>
            <h3 class="my-3">Date of birth: @Model.DateOfBirth</h3>
            <h3 class="my-3">Contact number: @Model.ContactNumber </h3>
            <h3 class="my-3">Email: @Model.Email</h3>
        </div>

    </div>

    <h3 class="my-4">Game Rental Company </h3>

</div>
