@model IEnumerable<Employee>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @foreach (var item in Model)
            {
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <p class="card-text">Name: @item.FirstName</p>
                            <p class="card-text">Surname: @item.LastName</p>
                            <p class="card-text">Date of birth: @item.DateOfBirth</p>
                            <p class="card-text">Contact number: @item.ContactNumber</p>
                            <p class="card-text">Addres email: @item.Email</p>

                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Delete</button>
                                    <a type="btn btn-success" asp-controller="Employee" asp-action="Detail" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="card-text">Name: Jan</p>
                        <p class="card-text">Surname: Wisnia</p>
                        <p class="card-text">Date of birth: 22/11/1975</p>
                        <p class="card-text">Contact number: +48 442 412 525</p>
                        <p class="card-text">Addres email: wisnia@gmail.com</p>

                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Delete</button>
                                <a type="btn btn-success" asp-controller="Employee" asp-action="Detail" asp-route-id="" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
