@model IEnumerable<Game>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<div class="album py-5 bg-light">
    <div class="container-fluid">
        <div class="row row-cols-1 row-cols-2 row-cols-3 row-cols-4 row-cols-5 row-cols-6">
            @foreach (var item in Model)
            {
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="img-fluid" src="@item.Image" width="100%" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">@item.Title</p>
                            <p class="card-text">@item.Description</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-dark btn-sm" class="btn btn-sm btn-outline-secondary">Buy</button>
                                    <a type="btn btn-success" class="btn btn-dark btn-sm" asp-controller="Game" asp-action="Detail" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                                    <a type="button" class="btn btn-dark btn-sm" asp-controller="Game" asp-action="Edit" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-outline-secondary">Edit</a>
                                    <a type="button" class="btn btn-dark btn-sm" asp-controller="Game" asp-action="Delete" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-outline-secondary">Delete</a>
                                </div>
                                <small class="text-muted"> @item.Price $</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="hero-shadow"></div>
        <a type="button" asp-controller="Game" asp-action="Create" type="button" class="btn btn-sm btn-outline-secondary">Create new game</a>
    </div>
</div>

